<div class="container-fluid header-banner">
  <div class="container">
    <div class="row header">
      <div class="col-2">
        <a routerLink="/">
          <img class="avatar" src="../assets/me.jpg" alt="Space Banner" title="Emily Dodds">
        </a> </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <h2>Emily Dodds</h2>
            <p>There's stuff and things on here about me. The internet knows me as mumanity!</p>
          </div>
          <div class="col-12 nav-bar">
            <nav>
              <ul>
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/to-do">To Dos</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>