<div class="row">
  <div class="col-12">
    <h2>About Me</h2>
    <p>I'm going to talk about myself here at some point, and when I do, it will be awesome and full of typos!</p>
  </div>
  <div class="col-9">
    <h4>Contact</h4>
    <p>
      <a href="mailto:{{me.email}}">{{me.email}}</a>
      <br>
      <a href="{{me.linkedin}}" target="_new">{{me.linkedin}}</a>
    </p>
    <p>{{me.description}}</p>
  </div>
  <div class="col-3">
    <img class="sidebar-img" src="../assets/bmo.png" alt="BMO" title="BMO">
  </div>
</div>