<div class="row">
  <div class="col-12">
    <h2>To Dos</h2>
    <p>Whitness all of the crazy things I want to try to get done on here!!!</p>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <b>General</b>
    <ul>
      <li>Make site stop saying that it's not secure.</li>
      <li>Add pixilating banner to footer</li>
      <li>Create robo assets</li>
      <li>Logo... make one.</li>
      <li>Fix up that header.</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <b>About</b>
    <ul>
      <li>Find things to say about myself. Is this the same as my welcome page? Eeesh?!?!</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <b>Blog</b>
    <ul>
      <li>Import WP blog</li>
      <li>Setup service for viewing posts.</li>
      <li>Create blog upload</li>
      <li>Create Accounts</li>
      <li>Setup SSO</li>
      <li>Enable comments</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <b>Projects</b>
    <ul>
      <li>Finish setting up layout for project scrolling</li>
      <li>Add more projects</li>
      <li>Setup modal quick view</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <b>Setup back-end</b>
    <ul>
      <li>Finish the other stuff first</li>
    </ul>
  </div>
</div>