<div class="row">
    <div class="col-12">
      <h2>Welcome!</h2>
    </div>
    <div class="col-12">
      <p>If you've found this site you probably already know me. If that's not the case, <em>Hello!</em></p>
      <p>While you're here you may be wondering what on Earth this site is for. Well, I'm a software engineer and building things like websites is what I do for a living. In fact, I really enjoy it. This little website is my personal side project where I'm going to keep links to all the neat things I build in my spare time, and surprisingly not every client asks for the things that I want to do for funsies.</p>
      <p>Since you're already here you may as well take a look around. Might I suggest the <a routerLink="/projects">Projects</a> page?</p>
      <!-- <p>Why the robots? I don't know. You'll have to ask them, but they just keep talking in 1's & 0's.</p> -->
    </div>
  </div>