<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label for="postTitle">Title</label>
      <input id="postTitle" name="postTitle" [(ngModel)]="createdTitle" class="form-control" />
    </div>
  </div>
  <div class="col-sm-12">
    <ckeditor [editor]="Editor" [(ngModel)]="ckPost.editorData"></ckeditor>
  </div>
  <div class="col-sm-12">
    <button type="button" (click)="createPost()" class="btn btn-primary mt-3">
      Save Post
    </button>
  </div>
</div>