.banner {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding: 150px 20px 0px 20px;

  img {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 250px;
    opacity: 0.4;
    top: 0;
    left: 0;
  }

  .title-box {
    position: relative;
  }
}

