<div class="row">
  <div class="col-md-12"
  *ngIf="post">
    <div class="banner">
      <img src="../../../assets/blogs/{{post.img}}"/>
      <div class="title-box">
        <h1>{{post.title}}</h1>
        <em>
          <p>{{post.createdDate | date:'mediumDate'}}</p>
        </em>
      </div>
    </div>
    <div [innerHTML]="post.content"></div>
  </div>
  <div class="col-md-12"
  *ngIf="!post">
  <h1>Ruh Roh!!!</h1>
  <p>You're seeing something I'm still working on. Shhhhh! Move along. Nothing to see here.</p>
  </div>
  <div class="col-md-12 mt-3">
    <a routerLink="/blog">Back to Blogs</a>
  </div>

</div>