@import "node_modules/bootstrap/scss/bootstrap.scss";

html {
  background-image: url("/assets/space.jpg");

}
body {
  background: #000000a8;
}

* {
  color: #cacaca;
}
.avatar {
  height: 10em;
  max-width: 10em;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 10em;
  }
}