@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-image: url("/assets/space.jpg");
}

.avatar {
  height: 10em;
  max-width: 10em;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid $primary;

  img {
    height: 10em;
  }
}

.avatar:hover {
  border: 5px solid $secondary;
}
