@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background: url("/assets/space.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.avatar {
  height: 10em;
  max-width: 10em;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid $primary;

  img {
    height: 10em;
  }
}

.avatar:hover {
  border: 5px solid $secondary;
}
